# Homework

## Instructions

Put any instructions here on how I am to complete the homework.

## Exercises or Reading 

This is the actual homework you have assigned me to complete. It could be questions, it could be reading and translation, it could be grammar tests. It will be driven by the lesson plan.

## Answers

This is a placeholder for you, do not put anything in this section.
I will populate this section with my answers to the homework so you can evaluate and score.

## Evaluation

This will also start as a placeholder, and is where you will put the evaluation and grade you give to my homework when I ask you to grade it.
